<!DOCTYPE html>
<html>
    {%include header.html%}
    <script type="text/javascript">getCommentsByCity()</script>
    <body>
        {%include menu.html%}
        <div class="container-fluid">
                <table id = "root" class = "table table-striped table-sm">
                    <tbody>
                        <tr>
                            <th>Регион: </th>
                            <th>Количество коментов: </th>
                        </tr>
                    </tbody>
                </table>
        </div>  
    </body>
</html>