<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport", content="width=device-width, initial-scale=1">
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
        </script>
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" 
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css"/>
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 10px;">
        <a class="btn btn-primary" href="/comment/"> Comment Entry</a>
        <a class="btn btn-primary" href="/view/"> View all comments</a>
        <a class="btn btn-primary" href="/stat/"> Stats </a>
</div>
    </body>
</html>