<!DOCTYPE html>
<html>
    {%include header.html%}
    <script type="text/javascript"> getCommentsByRegion() </script>
    <body>
        {%include menu.html%}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-lg-10">
                    <table id = "root" class = "table table-striped table-sm">
                        <tbody>
                            <tr>
                                <th>Регион: </th>
                                <th>Количество коментов: </th>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>  
    </body>
</html>