form {display: table; white-space:nowrap; width: 200px;}
div .form-group {display: table-row; white-space:nowrap; width: 200px;}
label {display: table-cell; white-space:nowrap;}
input {display: table-cell; white-space:nowrap; width: 200px;}